{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h3>User Info:</h3>

<p>&emsp;Username: {{ user.username }}</p>
<p>&emsp;Name: {{ user.first_name }} {{ user.last_name }}</p>
<p>&emsp;Email: {{ user.email }}</p>
<p>&emsp;Phone: {{ user.phone }}</p>

<br>
<hr>
<br>

<h4>Blogs:</h4>

<ol>
    {% for blog in blogs %}
        <li><a href="">{{ blog.title }}</a></li>
    {% endfor %}
</ol>

<br>
<hr>
<br>

<a href="{% url 'user_auth:logout' %}">Logout</a>

{% endblock %}
